h1.one{
    color: #00b3ee;
}
h1.two{
    color: #f8efc0;
}
h1.three{
    color: #1b6d85;
}
h1.four{
    color: #2b542c;
}
h1.five{
    color: #3c763d;
}
h1.six{
    color: #7a43b6;
}
h1.seven{
    color: #f0ad4e;
}
